body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button:hover {
  background-color: #2980b9;
}
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: lightgoldenrodyellow;
}

h1 {
  margin-bottom: 20px;
  margin-right: 70px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.university-option, .politician-option {
  text-align: center;
}

img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.vote-button {
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.vote-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* Previous styles... */

.login-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.login-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  padding: 10px 20px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #e67e22;
}

